#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.ai-image-generator {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  
}

.header {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 5px;
  
  
}

.header span {
  color: #ff4d4d;
  font-weight: 600;
}

.img-loading {
  display: flex;
  flex-direction: column; 
}

.img-loading img {
  width: 512px;
  height: 500px;
}



.search-box{
  display: flex;
  width: 520px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  background: #161616;

}

.search-input{
  width: 600px;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: white;
  padding-left: 35px;
  margin-right: 35px;
}

.search-input::placeholder{
  color: grey;
}

.generate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  font-size: 20px;
  border-radius: 50px;
  background: #ff4d4d;
  cursor: pointer;

}

.loading-bar{
  width: 0px;
  height: 8px;
  background: #ff4d4d;
}

.loading-text{
 font-size: 18px;
}

.loading-bar-full{
  width: 520px;
  height: 8px;
  background: #ff4d4d;
  transition: 15s;
}

display-none{
  display: none;
}


